@model UserCredentialsViewModel

<div class="mt-5">
    @using (Html.BeginForm())
    {
        <div class="row centered-content">
            <div class="col-md-4">
                <h4 class="login-title">Please login</h4>
            </div>
        </div>

        <div class="row centered-content">
            <div class="col-md-4 form-group">
                <label asp-for="Email"></label>
                <input class="form-control" type="text" asp-for="Email" />
            </div>
        </div>

        <div class="row centered-content">
            <div class="col-md-4 form-group">
                <label asp-for="Password"></label>
                <input class="form-control" type="password" asp-for="Password" />
            </div>
        </div>

        <div class="row centered-content">
            <div class="col-md-4 form-group text-right">
                <button type="submit" class="btn btn-success">Login</button>
            </div>

        </div>

        <div class="row centered-content">
            <div class="mt-2">Don't have an account? <a asp-action="Register" asp-controller="Users">Register here</a>.</div>
        </div>
    }
</div>