@model UserViewModel

<div class="mt-5">
    @using (Html.BeginForm())
    {
        <div class="row centered-content">
            <div class="col-md-4">
                <h4 class="login-title">Please register</h4>
            </div>
        </div>

        <div class="row centered-content">
            <div class="col-md-4 form-group">
                <label asp-for="Email"></label>
                <input class="form-control" type="text" asp-for="Email" />
            </div>
        </div>

        <div class="row centered-content">
            <div class="col-md-4 form-group">
                <label asp-for="Password"></label>
                <input class="form-control" type="password" asp-for="Password" />
            </div>
        </div>

        <div class="row centered-content">
            <div class="col-md-4 form-group">
                <label asp-for="FullName"></label>
                <input class="form-control" type="text" asp-for="FullName" />
            </div>
        </div>

        <div class="row centered-content">
            <div class="col-md-4 form-group text-right">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </div>
    }
</div>