@model List<ProductViewModel>

<h2>Products</h2>

@foreach(var product in Model)
{
    <p>
        @product.Name
        <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id">Go To Details</a>
    </p>
}