<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            ©@DateTime.Now.Year.ToString() - SEDC.Lamazon
        </div>
    </div>
</footer>