@model IEnumerable<UserViewModel>

<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <div class="form-inline">
                <select id="RoleKey" asp-items="@ViewBag.RoleKey" asp-default-value="Select role" class="form-control ddl-search mr-2"></select>

                <input id="inputSearch" class="form-control txt-search" placeholder="Search users" />
                <button class="btn btn-search btn-info" type="button" onclick="searchItems()"><i class="material-icons">search</i></button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table id="usersTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        var usersTable = $('#usersTable').DataTable({
            processing: true,
            serverSide: true,
            dom: '<i<t><"custom-class"l>p>',
            ajax: {
                url: "/Administration/Users/GetUsers",
                type: "POST",
                data: function (data) {
                    var searchValue = $('#inputSearch').val();
                    var selectedRoleKey = $('#RoleKey').val();

                    data.search.value = searchValue;
                    data.roleKey = selectedRoleKey;
                }
            },
            columns: [
                {
                    data: "fullName",
                    name: "FullName"
                },
                {
                    data: "email",
                    name: "Email"
                },
                {
                    data: "role.name",
                    name: "Role.Name"
                },
                {
                    data: "id",
                    sClass: "column-actions",
                    render: function (data, type, row, meta) {
                        return `<a class="action-button text-warning" href="/Administration/Users/Edit/${data}"><i class="material-icons">edit</i></a>`
                    },
                    orderable: false
                }
            ]
        });

        $('#inputSearch').keypress(function (e) {
            var key = e.which;
            if (key == 13) // 13 is code for enter
            {
                searchItems();

                e.preventDefault();
                return false;
            }
        });

        function searchItems() {
            usersTable.ajax.reload();
        }

        $('#RoleKey').on('change', function () {
            searchItems();
        });
    </script>
}