@model ProductViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ProductStatus)

    <div class="card">
        <div class="card-header">
            <p>Edit</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group bmd-form-group">
                        <label asp-for="Name" class="bmd-label-floating"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group bmd-form-group is-filled">
                        <label asp-for="ProductCategory" class="bmd-label-floating"></label>
                        <select asp-for="ProductCategoryId" asp-items="@ViewBag.ProductCategoryId" asp-default-value="Select category" class="form-control ddl-search"></select>
                        <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group bmd-form-group">
                        <label asp-for="Description" class="bmd-label-floating"></label>
                        <textarea asp-for="Description" class="form-control" rows="4" ></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group bmd-form-group">
                        <label asp-for="ImageUrl" class="bmd-label-floating"></label>
                        <input asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group bmd-form-group">
                        <label asp-for="Price" class="bmd-label-floating"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group bmd-form-group is-filled">
                        <label asp-for="IsFeatured" class="bmd-label-floating"></label>
                        <input asp-for="IsFeatured" class="form-control" />
                        <span asp-validation-for="IsFeatured" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer float-right">
            <div class="mt-5">
                <a class="btn btn-default" asp-controller="Products" asp-action="Index">Cancel</a>
                <button class="ms-2 btn btn-success" type="submit">Save</button>
            </div>
        </div>
    </div>
}